#Enviroment
.env
.env.*

#Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
ai-model/.python-packages/

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploaded files
storage/

# AI temporary files
ai-model/.ipynb_checkpoints/
ai-model/*.pdf

# Backend temporary/test files
backend/temp.pdf
backend/test.js
backend/test.sql
backend/testInsert.js

# Flutter build
docmanage_mobile/build/
docmanage_mobile/.dart_tool/
docmanage_mobile/android/.gradle/
docmanage_mobile/android/build/
docmanage_mobile/.packages

# Frontend build
frontend/dist/
frontend/android/app/build/
